/* main page design */
.body{
 background-image: url("/assets/burger2.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}
li {
    padding: 5px;
    margin: 5px;
    width: 75px;
   
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
   
  }
  
  .form-group {
    margin-bottom: 5px;
    margin-top: 50px;
  
   
  }
  
  .h1{
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      font-family:  'Amatic SC', cursive;
      font-size: 70px;
      margin: auto;
  }

  #image{
      margin-left: 370px;
  }

  .eat-it{
      margin: auto;
  }
  .create-form {
    max-width: 500px;
    margin: auto;
    margin-left: 800px;
    padding-top: 75px;
   
  }
  
  .table-row{
      font-weight: bold;
  }
  
  .change-devour {
    background-color: #FFD700;
  }

  .col-left {
	padding-left: 20%;
}

.col-right {
	text-align: left;
}

#burger-ready {
  background-color: #FFD700;
}

#text{
  font-weight: bold;
}

