<tr class="table-row">
	<td class="table-first-col">{{id}}.  {{burger_name}}</td>
	<td><button class="change-devour" style="width: 100px; margin-top: 10px; margin-left: 5px;" data-id="{{id}}">Devour it!</button></td>
</tr>