<tr class="table-row">

	<td class="table-first-col"> {{burger_name}}</td>
	<td><button class="change-devour" style="width: 100px; margin-top: 10px; margin-left: 5px;" data-id="{{id}}" data-newdevour="{{devoured}}">{{#if devoured}}DEVOURED!{{else}}READY!{{/if}}</button></td>
	
</tr>

{{!-- 
<div class="burger-div">

	</div>
</div> --}}